---
---
@import "{{ site.theme }}";
        .floating-text {
            display: flex;
            flex-direction: column;
        }

        .floating-text .title {
            font-weight: 600;
            font-size: 15px;
            color: #202124;
        }

        .floating-text .subtitle {
            font-size: 12px;
            color: #1a73e8;
            font-weight: 500;
        }
